{% extends "base_v_bootstrap.html" %}
{% load i18n %}
{% block title %}{% trans 'Página Inícial Cientifico'%}{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li class="active"><span class="glyphicon glyphicon-home"></span> {% trans 'Home' %}</li>
	</ul>
{% endblock %}

{% block Menus %}
	 <li class="dropdown {% block Mcursos %}{% endblock %}">
	    <a href="{% url lstCursoCientifico %}" class="dropdown-toggle">{% trans 'Cursos' %}</a>
	</li>
	<li class="dropdown {% block MTurmas %}{% endblock %}">
	    <a href="{% url lstTurmasCientifico %}" class="dropdown-toggle">{% trans 'Turmas' %}</a>
	</li>
	<li class="dropdown {% block MDocentes %}{% endblock %}">
	    <a href="{% url lstDocenteCientifico %}" class="dropdown-toggle">{% trans 'Docentes' %}</a>
	</li>
	<li class="dropdown {% block M_U_Curric %}{% endblock %}">
	    <a href="{% url lstucCientifico %}" class="dropdown-toggle">{% trans 'Unidades Curriculares' %}</a>
	</li>
	
	<li class="dropdown {% block MenuAjuda %} {% endblock %}">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Ajuda'%}<b class="caret"></b></a>
	    <ul class="dropdown-menu">
	       <li><a href="#">{% trans '...'%}</a></li>
	     </ul> 
	</li>
{% endblock %}

{% block content %}
	<!-------------------------------------------------------------PAinel informativo--------------------------------------------------->	
<div class="jumbotron">
	
  <h1>{% trans 'Cientifico!'%}</h1>
  {%comment%}<p>{% trans 'Na área de gestão dos Recursos Humanos, terá a possibilidade de:'%}</p>
  <p>- {% trans 'Adicionar novos docentes ao sistema.'%}</p>
  <p>- {% trans 'Editar a informação de docentes já existentes.'%}</p>
  <p>- {% trans 'Listar todos os docentes existentes no sistema, utilizando filtros para refinar a sua pesquisa.'%}</p>{%endcomment%}
  <p><a class="btn btn-primary btn-lg" role="button">{% trans "Conheça mais" %}</a></p>
  
</div>
{% endblock %}



