{% extends "cientifico_new/index.html" %}
{% load i18n %}
{% block title %}{% trans 'Lista Cursos - ano '%}{{anoActual}}{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span> <a tabindex="2" href="{% url HomeCientifico %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a>
	</li>
	<li class="active">{% trans 'Lista de cursos do ano ' %}{{anoActual}}</li>
</ul>
{% endblock %}

<!-- Estes blocos é para alterar a classe do menu do index, refere se está ou não activo -->
{% block tabelas %}active{% endblock %}

{% block filtros %}

{% endblock %}

{% block content %}
<div class="page-header whiteText">
  <h1>{% trans 'Lista de Cursos - Ano '%}{{anoActual}}</h1>
</div>

<form id="filter_ano_form" class="form-horizontal" role="form">
	 <div class="form-group whiteText">
   	 	<div class="col-xs-2">
	      {%for field in form_combo%}
	      	{{ field.label_tag }}: {{ field }}
	      {%endfor%}  
    	</div>
  	</div>
</form>


<table cellpadding="0" cellspacing="0" border="0" class="display sumary_table" id="special_table" width="100%">
<thead>	
	<tr>
		<th class="cabecalho_sumario">Curso</th>
		<th class="cabecalho_sumario">Abreviatura</th>
		<th class="cabecalho_sumario">Tipo Curso</th>
		<th class="cabecalho_sumario">Número de semestres</th>
	</tr>
</thead>
<tbody>
	{% for c in curso_ano %}
		<tr>
			<td class="teacher_name_field"><a href="{% url infoCursoCientifico c.curso.id %}">{{c.curso.nome}}</a></td>
			<td>{{c.curso.abreviatura}}</td>
			<td>{{c.curso.tipo_curso.nome}}</td>
			<td>{{c.curso.semestre_letivos}}</td>
		</tr>
	{% endfor %}
</tbody>
</table>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('#special_table').dataTable({
				"oLanguage": {
		            "sUrl": "/static/dataTables/lang/pt-pt.txt"
		        },
		         "sPaginationType": "full_numbers",
		         "sDom": '<"dataTables_special_bar"l><"dataTables_special_bar"if><"whiteBox"rt><"pagination_box"p>'
		        
		        	
			});
			$('.hasTooltip').tooltip({"container": false});
		} );
	</script>
{% endblock %}