<a href="#" class="list-group-item active">Data Fim</a>
<form id="form_end_date" accept-charset="utf-8">
    <a  class="list-group-item list-group-item-children">
  	<input value="{{end_date}}" type="text" readonly="readonly" id="datepicker_end" name="data_fim" onchange="submit_end_date()">
  	<script>
  $(function() {
  
    $( "#datepicker_end" ).datepicker({
      changeMonth: true,
      changeYear: true,
      showOn: "both",
      buttonImage: "/static/images/images_jquery_ui/calendar.gif",
      buttonImageOnly: true,
      dateFormat: "dd-mm-yy"
    });
  });
  </script>
  </a>
    <a  class="list-group-item list-group-item-children list-group-item-special-center">
  	<input id="spinner_end" name="spinner_fim" value="5">
  	<script>
  $(function() {
  	
     $( "#spinner_end" ).spinner({
      min: 1,
      step: 1,
      numberFormat: "C"
    });
  });
  </script>
  </a>
  </form>