{% for field in tipo_curso_form %}
	<div class="form-group whiteText">
		<label for="col-sm-2 control-label">{{ field.label }} {% if field.field.required %}*{%endif%}</label>
		{{ field }}
	</div>
	<span id="error_combox_docente">
	    {% for error in field.errors %} 
	    	<div class="alert alert-danger">
	    		{{error}}
	    	</div> 
	    {% endfor %}
	</span>
{% endfor %}

<div id = "curso_div">
</div>


<script type="text/javascript">
	var value = $("#id_tipo_docente").children(':selected').val();
	var csrftoken = getCookie('csrftoken');
	
	
	/*$.ajax({
		type: "POST",
	  	url:"{%url tipo_docente_option %}",
	  	data:{tipo_docente_option:value},
	  	beforeSend: function( xhr ) {xhr.setRequestHeader("X-CSRFToken", csrftoken);},
	  	success: function(data) {
	  		$("#tipo_docente").html(data);
	    },
	    error: function(rs, e) {
	    	 
	    }
	});*/
	
	$("#id_tipo_curso").change(function(event){
    	var value = $("#id_tipo_curso").children(':selected').val();
    	var ano = $("#id_ano").children(':selected').val();
    	$("#error_combox_docente").empty();
    	
      	$.ajax({
      		type: "POST",
          	url:"{%url tipo_curso_option %}",
          	data:{
          			tipo_curso_option:value, 
          			ano:ano
          		 },
          	beforeSend: function( xhr ) {xhr.setRequestHeader("X-CSRFToken", csrftoken);},
          	success: function(data) {
          		$("#curso_div").html(data);
            },
            error: function(rs, e) {
            	 
            }
     	});
    });
</script>