{% extends "cientifico/index.html" %}
{% load i18n %}
{% block title %} Definir Cursos Pós-Graduações (Vice Presidencia) {% endblock %}
{% block breadcrumb %}
<ul id="breadcrumb">
	<li>
		<a tabindex="2" href="{% url HomeCientifico %}" title="{% trans 'Home' %}"> <img src="/static/images/BreadCrumbs/home.gif" alt="{% trans 'Home' %}" class="home" /> </a>
	</li>
	<li>
		Definir Cursos das Pós-Graduações
 	</li>
</ul>
{% endblock %}

{% block content %}

<table class="tabela_sumario">
	<tr>
		<th colspan="6" class="top_sumario" >Lista de Modulos Delegados</th>
	</tr>
<tr>
		<th class="cabecalho_sumario">Nome Curso</th>
		<th class="cabecalho_sumario">Abreviatura</th>
		<th class="cabecalho_sumario">Número de Semestres</th>
		<td><a tabindex="4" href='{%url addCursosCET id_PG %}'><span>Adicionar Curso</span></a></td>
	</tr>
	{% for id, nome, abreviatura, semestreLetivo  in listInfo %}
	<tr>
		<td class="teacher_name_field">{{nome}}</td>
		<td>{{abreviatura}}</td>
		<td>{{semestreLetivo}}</td>
	</tr>
	{% endfor %}
</table>

<div id="paginator">
	<span class="current"> Página {{ listInfo.number }} de {{ listInfo.paginator.num_pages }}. </span>
	<br>
	<span class="step-links"><a href="?show=all">Todos</a></span>
	<span class="step-links"> {% for page_num in drange %} <a id="{{ page_num}}" href="?page={{ page_num}}&{{actualState}}">{{ page_num}}</a> {% endfor%} </span>
</div>
{% endblock %}
