{% extends "cientifico/index.html" %}
{% load i18n %}
{% block title %} Definir Cursos Licenciaturas (Vice Presidencia) {% endblock %}
{% block breadcrumb %}
<ul id="breadcrumb">
	<li>
		<a tabindex="2" href="{% url HomeCientifico %}" title="{% trans 'Home' %}"> <img src="/static/images/BreadCrumbs/home.gif" alt="{% trans 'Home' %}" class="home" /> </a>
	</li>
	<li>
		Definir Cursos das Liscenciaturas
 	</li>
</ul>
{% endblock %}

{% block content %}
<h1>Licenciaturas!</h1>

<!--
<table class="tabela_sumario">
	<tr>
		<th colspan="6" class="top_sumario" >Lista de Modulos Delegados</th>
	</tr>
<tr>
		<th class="cabecalho_sumario">Departamento Origem</th>
		<th class="cabecalho_sumario">Serviço Docente Origem</th>
		<th class="cabecalho_sumario">Horas a lecionar</th>
		<th class="cabecalho_sumario">Departamento a Delegar</th>
		<th colspan="2" class="cabecalho_sumario">Aprovar</th>
	</tr>
	{% for id_modulo, departamento_origem, Servico_origem, horas, departamento_fim  in listToSend %}
	<tr>
		
		<td class="teacher_name_field">{{departamento_origem}}</td>
		
		<td>{{Servico_origem}}</td>
		<td>{{horas}}</td>
		<td>{{departamento_fim}}</td>
		<td><a href='{%url aprovarModulo id_modulo%}'>Sim</a></td>
		<td><a href='{%url reprovarModulo id_modulo%}'>Não</a></td>
		
	
	</tr>
	{% endfor %}
</table>
-->
{% endblock %}
