{% extends "cientifico/index.html" %}
{% load i18n %}
{% block title %}{% trans 'Página de Confirmação de adicionar curso' %}{% endblock %}


{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span> <a tabindex="2" href="{% url HomeCientifico %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a>
	</li>
	<li>
		<a href="{% url def_Curso_CET %}" title="Definir curso -CET's">{% trans "Definir curso - CET's"%}</a>
	</li>
	<li>
		<a href="{% url addCursosCET %}" title="Adicionar curso -CET's">{% trans "Adicionar Curso - CET's" %}</a>
	</li>
	<li class="active">{% trans "Confirmação dos dados do curso - CET's" %}</li>
</ul>
{% endblock %}

{% block content %}
{% endblock %}

{% block formulario %}
	<div class="page-header whiteText">
	  <h1>{% trans 'Confirmação de dados do curso' %} {{self.process_preview}}{{context}}</h1>
	</div>
	<form method="post" onkeypress="testeSearch();" >
		{% csrf_token %}
		{% for field in form %}
			<div class="form-group whiteText">
				<label for="col-sm-2 control-label">{{ field.label }} {% if field.field.required %}*{%endif%}</label>
				{{ field }}
			</div>
	        {% for error in field.errors %} 
	        	<div class="alert alert-danger">
	        		{{error}}
	        	</div> 
	        {% endfor %}
	   	{% endfor %}
   		<br />
    	<span id="CamposObirgatorio">(*) - {% trans 'Campos de preenchimento obrigatório' %}</span>
		{{t}}
   		<hr />
   			<span id = "Confirmacao">{% trans 'Deseja submeter os Dados dos Formulário?' %}</span>
   		
			<div id="buttonConfirm">
				<input type="hidden" name="{{ stage_field }}" value="2" />
				<input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
				<input type="button" class="btn btn-primary btn-lg" value="{% trans 'Não' %}" onClick="javascript:history.go(-1);">
				<input type="submit" class="btn btn-primary btn-lg" value="{% trans 'Sim' %}" />
			</div>
			<script>changeCountValue();</script>
	</form>
{% endblock %}