{% extends "cientifico/index.html" %}
{% load i18n %}
{% block title%}{% trans 'Página de adicionar Curso' %}{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span><a tabindex="2"
                href="{% url HomeCientifico %}" title="{% trans 'Home' %}">{%trans 'Home' %}</a></li>
        <li><a href="{% url def_Curso_CET %}" title="Definir curso -CET's">{%trans "Definir curso - CET's"%}</a></li>
        <li class="active">{% trans "Adicionar Curso - CET's" %}</li>
</ul>
{% endblock %}
{% block content %}

<div class="page-header whiteText">
        <h1>{% trans 'Assistente de criação de novo ano letivo' %} "{{ano_letivo_db.ano}}" -  {% trans 'Adicionar Cursos' %}</h1>
		 <h3>Departamento {{departamento_ano}} - {{n_pagina}} de {{n_departamentos_ano}}</h3>
</div>
<!--------------------------------------------------------------------------------------------------------->
<div class="panel-group" id="accordion">
        <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading ">

                        <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapseOne"> Departamento de {{departamento_ano}}</a>
                        <div class="btn-group btn-group-xs pull-right">
                                <button onclick="abrir_departamentos();" type="button"
                                        class="btn btn-primary">
                                        <span class="glyphicon glyphicon-certificate"></span> Adicionar
                                        Departamento
                                </button>
                                 <button onclick="abrir_departamentos();" type="button"
                                        class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                        </div>

                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                        <!-- Table -->
                        <table class="table departamentos_usados">
                                <thead>
                                        <tr>
                                                <th>Nome</th>
                                                <th>Abreviatura</th>
                                                <th>Unidade Organica</th>
                                                <th><input type="checkbox" /></th>
                                        </tr>
                                </thead>
                                <tbody>
                                	
                                	{% include "cientifico/Elementos/rows_cursos.html" %}
                                	
                                </tbody>
                        </table>
                </div>
        </div>
</div>
<ul class="pager">
	
		{% if id_pagina == 0 %}
        <li class="previous"><a href="{% url wizard_cna_n_d  id_ano %}">&larr; Voltar - Adicionar Departamento</a></li>
		{% endif%}
	
	<!------------------------------------------------------------------------------------------->
	
	{% if id_pagina > 0 and  id_pagina < n_departamentos_ano %}
        <li class="previous"><a href="{% url wizard_cna_novo_curso ano_letivo_db.id %}?pagina={{id_pagina_prev}}">&larr; Anterior</a></li>
{% endif%}
	
{% if id_pagina >= 0 and id_pagina < id_departamentos_ano %}
        <li class="next"><a href="{% url wizard_cna_novo_curso ano_letivo_db.id %}?pagina={{id_pagina_next}}">Seguinte &rarr;</a></li>
{% endif%}
</ul>
{% endblock %}
