{% extends "cientifico/index.html" %}
{% load i18n %}
{% block title%}{% trans 'Página de adicionar Curso' %}{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span><a tabindex="2"
                href="{% url HomeCientifico %}" title="{% trans 'Home' %}">{%trans 'Home' %}</a></li>
        <li><a href="{% url def_Curso_CET %}" title="Definir curso -CET's">{%trans "Definir curso - CET's"%}</a></li>
        <li class="active">{% trans "Adicionar Curso - CET's" %}</li>
</ul>
{% endblock %}
{% block content %}

<div class="page-header whiteText">
        <h1>{% trans 'Assistente de criação de novo ano letivo' %} "{{ano_letivo_db.ano}}" -  {% trans 'Adicionar Cursos' %}</h1>
		 <h3>Departamento {{departamento_ano}} - {{n_pagina}} de {{n_departamentos_ano}}</h3>
</div>
<!--------------------------------------------------------------------------------------------------------->
{% include "cientifico/Elementos/Cursos/tabela_cet.html" %}    
{% include "cientifico/Elementos/Cursos/tabela_tsp.html" %}    
{% include "cientifico/Elementos/Cursos/tabela_licenciatura.html" %}    
{% include "cientifico/Elementos/Cursos/tabela_mestrado.html" %}                         	
<!--------------------------------------------------------------------------------------------------------->
<ul class="pager">
	
		{% if id_pagina == 0 %}
        <li class="previous"><a href="{% url wizard_cna_n_d  id_ano %}">&larr; Voltar - Adicionar Departamento</a></li>
		{% endif%}
	
	<!------------------------------------------------------------------------------------------->
	
	{% if id_pagina > 0 and  id_pagina < n_departamentos_ano %}
        <li class="previous"><a href="{% url wizard_cna_novo_curso ano_letivo_db.id %}?pagina={{id_pagina_prev}}">&larr; Anterior</a></li>
{% endif%}
	
{% if id_pagina >= 0 and id_pagina < id_departamentos_ano %}
        <li class="next"><a href="{% url wizard_cna_novo_curso ano_letivo_db.id %}?pagina={{id_pagina_next}}">Seguinte &rarr;</a></li>
{% endif%}
</ul>
{% endblock %}
