{% extends "cientifico/index.html" %}
{% load i18n %}
{% block title%}{% trans 'Página de adicionar Curso' %}{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span><a tabindex="2"
                href="{% url HomeCientifico %}" title="{% trans 'Home' %}">{%trans 'Home' %}</a></li>
        <li><a href="{% url def_Curso_CET %}" title="Definir curso -CET's">{%trans "Definir curso - CET's"%}</a></li>
        <li class="active">{% trans "Adicionar Curso - CET's" %}</li>
</ul>
{% endblock %}
{% block content %}

<div class="page-header whiteText">
        <h1>{% trans 'Assistente de criação de novo ano letivo' %} "{{ano_letivo_db.ano}}"</h1>
		<h3><strong>{% trans 'Adicionar Departamentos' %}</strong></h3>
</div>
<!--------------------------------------------------------------------------------------------------------->
<div class="panel-group" id="accordion">
        <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading ">

                        <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapseOne"> Ano 2014/2015 </a>
                        <div class="btn-group btn-group-xs pull-right">
                                <button onclick="abrir_departamentos();" type="button"
                                        class="btn btn-primary">
                                        <span class="glyphicon glyphicon-certificate"></span> Adicionar
                                        Departamento
                                </button>
                                 <button onclick="form_apaga_departamentos({{ano_letivo_db.id}});" type="button"
                                        class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                        </div>

                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                        <!-- Table -->
                        <table class="table departamentos_usados">
                                <thead>
                                        <tr>
                                                <th>Nome</th>
                                                <th>Abreviatura</th>
                                                <th>Unidade Organica</th>
                                                <th><input type="checkbox" class="checkAll"/></th>
                                        </tr>
                                </thead>
                                <tbody>
                                	
                                	{% include "cientifico/Elementos/rows_departamento.html" %}
                                	
                                </tbody>
                        </table>
                </div>
        </div>
</div>
<ul class="pager">

        <li class="next"><a href="{% url wizard_cna_novo_curso ano_letivo_db.id %}?pagina=0">Seguinte &rarr;</a></li>
</ul>
<script>

	   $(document).ready(function() {

	 $('.checkAll').click(function () {    

                             $('input:checkbox').prop('checked', this.checked);    
                        });
                     });
</script>
{% endblock %}
