{% extends "departamento/index.html" %}
{% load i18n %}
{% block title %}{% trans 'Página de adicionar Serviço de Docente'%}{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span> <a tabindex="2" href="{% url homeDepartamento %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a>
	</li>
	<li class="active">{% trans 'Adicionar Serviço Docente' %}</li>
</ul>
{% endblock %}

{% block content %}
	<div class="page-header whiteText">
	  <h1>{% trans 'Adicionar docentes a'%} {{nomeTurma}}</h1>
	</div>

<div id="contentForm">
	<form method="post">
		{% csrf_token %}

		<div class="topTeachersDiv">

			<table class="tabela_sumario teachersTable">
				<tr class="cabecalho_sumario">
					<th class="id10 idHide"></th>
					<th class="name70">{% trans 'Docente' %}</th>
					<th class="horas20">{% trans 'Horas' %}</th>
				</tr>
				</table>
			</div>
			<div class="teachersDiv">
				
				<table class="tabela_sumario teachersTable">
				{%for docente in listaDocentes %}
				<tr class="docenteRow" onclick="highlight(this);">
					<td class="id10 idHide">{{docente.id}}</td>
					<td class="name70">{{docente.nome_completo}}</td>
					<td class="horas20">{{docente.horas}}</td>
				</tr>
				{%endfor %}

			</table>

		</div>
		
			<hr />
			
			<span class="errorField">{{erro}}</span>
			<br>
			<br>
			

		</div>
		<div id="buttonConfirm">
			<hr />
			<span id = "Confirmacao"></span>
			<input type="hidden" name="{{ stage_field }}" value="1" />
			<input type="submit" value="Adicionar Serviço Docente" />

		</div>

	</form>

	<script>
		initial();
	</script>
</div>
{% endblock %}

