{% extends "departamento/index.html" %}
{% load i18n %}
{% block title %} Informação do Docente {% endblock %}
{% block breadcrumb %}
<ul id="breadcrumb">
	<li>
		<a tabindex="2" href="{% url homeDepartamento %}" title="{% trans 'Home' %}"> <img src="/static/images/BreadCrumbs/home.png" alt="{% trans 'Home' %}" class="home" /> </a>
	</li>
	<li>
		<a tabindex="3" href="{% url listDocentesDep %}" title="Listar Docentes">Listar Docentes</a>
	</li>
	<li>
		Informação do Docente - {{docente_name}}
	</li>
</ul>
{% endblock %}

{% block content %}

<h2 class="infoTitle">Informação do Docente: {{docente_name}}</h2>
<table class="tabela_sumario">
	
	<tr>
		<th class="cabecalho_sumario">Curso</th>
		<th colspan="3" class="cabecalho_sumario">Turma</th>
		<th class="cabecalho_sumario">Horas de Serviço</th>
		
	</tr>
	{%for id, turma, horas, curso in lista%}
	<tr>
		<td>{{ curso }}</td>
		<td>{{ turma }}</td>
		<td>{{turno}}</td>
		<td>{{tipoAula}}</td>
		<td class="horas_servico">{{ horas }}</td>
	</tr>
	{%endfor%}
	{%if lista %}
		<tr>
			<th colspan="4" class="sub_cabecalho">Horas Total</th>
			<th  {% if horasTotal < 180  %} 
		class="sub_cabecalho hoursDownLimit"
		title="Inferior ao limite (< 180)"
		{% elif horasTotal > 360 %}
		class="sub_cabecalho hoursUpLimit"
		title="A exceder o limite (> 360)"
		{% endif %}
		>{{horasTotal}}</th>
		</tr>
    {%else%}
		<tr>
			<td colspan="5">O Docente não tem Turmas (modulos) atribuidos</td>
		</tr>    
    {%endif%}
</table>
{% endblock %}