{% extends "departamento/index.html" %}
{% load i18n %}
{% block title %}{% trans 'Página informação dos Modulos pertencente á Turma' %}{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span> <a tabindex="2" href="{% url homeDepartamento %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a>
	</li>
	<li>
		<a tabindex="2" href="{% url listarServicoDocente ano %}" title="{% trans 'Listar Serviço Docente Atribuido' %}">{% trans 'Listar Serviço Docente Atribuido' %}</a>
	</li>
	<li class="active">{% trans 'Informação dos Modulos pertencente á Turma' %} - {{nomeTurma}}</li>
</ul>
{% endblock %}

{% block content %}
	<div class="page-header whiteText">
	  <h1>{% trans 'Informação dos Modulos pertencente á Turma: '%}{{nomeTurma}}</h1>
	</div>
	<table cellpadding="0" cellspacing="0" border="0" class="display sumary_table" id="special_table" width="100%">
		<thead>
			<tr class="special_cabecalho">
		    	<th colspan="2" align="left">Ano: {{ano}} | Tipo Aula: {{tipoAula}} | Turno: {{turno}}</th>
		    </tr>
			<tr class="cabecalho_sumario">
				<th class="cabecalho_sumario">{% trans 'Docente' %}</th>
				<th class="cabecalho_sumario">{% trans 'Horas Atribuidas' %}</th>
			</tr>
		</thead>
		<tbody>
		{% for id_Docente, nome, horas, turmas, a in listInfo %}
			<tr {%if id_Docente == "" %}class="WithoutTeacher" {% endif %}>
				<td>{{nome}}</td>
				<td>{{horas}}</td>
			</tr>
		{% endfor %}
		
    </tbody>
    <tfoot>
		 <tr>
		   <th>Horas Total</th>
		   <th>{{horasTotal}}</th>
		 </tr>
	</tfoot>
</table>

	<script type="text/javascript">
		$(document).ready(function() {
		$('#special_table').dataTable({
			"oLanguage": {
	            "sUrl": "/static/dataTables/lang/pt-pt.txt"
	        },
	         "sPaginationType": "full_numbers",
	         "sDom": '<"dataTables_special_bar"l><"dataTables_special_bar"if><"whiteBox"rt><"pagination_box"p>'
		        
		        	
			});
			$('.hasTooltip').tooltip({"container": false});
		} );
	</script>
{% endblock %}