{% extends "departamento/index.html" %}
{% load i18n %}
{% block title %} 
	Página informação dos Modulos pertencente á Turma
{% endblock %}
{% block breadcrumb %}
<ul id="breadcrumb">
	<li>
		<a tabindex="2" href="{% url homeDepartamento %}" title="{% trans 'Home' %}"> <img src="/static/images/BreadCrumbs/home.png" alt="{% trans 'Home' %}" class="home" /> </a>
	</li>
	<li>
		<a tabindex="3" href="{% url listarServicoDocente ano %}" title="Listar Serviço Docente Atribuido">Listar Serviço Docente Atribuido</a>
	</li>
	<li>
		Informação dos Modulos pertencente á Turma - {{nomeTurma}}
	</li>
</ul>
{% endblock %}

{% block content %}
	<h2 class="infoTitle">Informação dos Modulos pertencente á Turma: {{nomeTurma}}</h2>
<table class="tabela_sumario">
	
	<tr class="special_cabecalho">
    	<th colspan="2" align="left">Ano: {{ano}} | Tipo Aula: {{tipoAula}} | Turno: {{turno}}</th>
    </tr>
	<tr class="cabecalho_sumario">
		<th class="cabecalho_sumario">Docente</th>
		<th class="cabecalho_sumario">Horas Atribuidas</th>
	</tr>
	
	{% for id_Docente, nome, horas, turmas, a in listInfo %}
	
	<tr {%if id_Docente == "" %}
	
	class="WithoutTeacher" {% endif %}>
		<td>{{nome}}</td>
		<td>{{horas}}</td>
	</tr>
	{% endfor %}
	<tr class="cabecalho_sumario">
    	<th class="sub_cabecalho">Horas Total</th>
    	<th class="sub_cabecalho" >{{horasTotal}}</th>
    </tr>

</table>
{% endblock %}