{% extends "departamento/index.html" %}
{% load i18n %}
{% block title %} Listar Turmas Departamento {% endblock %}
{% block breadcrumb %}
<ul id="breadcrumb">
	<li>
		<a tabindex="2" href="{% url homeDepartamento %}" title="{% trans 'Home' %}"> <img src="/static/images/BreadCrumbs/home.gif" alt="{% trans 'Home' %}" class="home" /> </a>
	</li>
	<li>
		Listar Turmas Departamento {{departamento}}
	</li>
</ul>
{% endblock %}
{% block Filtros %}
<ul>

	<li class='title'>
		<span>Filtros</span>
	</li>
	<li class="has-sub" >
		<a  id="oa_button" tabindex="4" href='#oa'><span>Por Ordem Alfabética</span></a>

	</li>
	<div id="oa">

	

	</div>
	<li class="has-sub">
		<a id="curso_button" tabindex="4" href='#course'><span>Por Curso</span><span id="ajaxLoader" class="hideAjaxLoader"></span></a>
		
	</li>
	<div id="curso">

	

	</div>
</ul>

{% endblock %}


{% block content %}
	<table class="tabela_sumario">
		<tr>
			<th colspan="7" class="top_sumario" >Listar Turmas {{departamento}}</th>
		</tr>
		<tr>
			<th colspan="7" class="top_sumario"> {% csrf_token %}
			<form action="" onkeypress="testeSearch()" method="get" name="searchForm">
				<img src="/static/images/selector-search.gif" title="search" alt="searchIcon" />
				<input name="searchField"  id="searchField" required type="search" value="{{keyword}}" />
				<input id="submitSearch" value={%trans 'Search'%} name="Submit" type="submit" />
				{% if keyword != None%}
				<span>- Pesquisa por "{{keyword}}"</span>
				{% endif %}
				<span>- {{sizeList}} resultados encontrados</span>
			</form></th>
		</tr>
		<tr>
	    	<th colspan="7" align="left">{{anoReferente}}</th>
	    </tr>
		<tr>
			<th></th>
			<th class="cabecalho_sumario">Unidade Curricular</th>
			<th class="cabecalho_sumario">Curso</th>
			<th class="cabecalho_sumario">Número de Horas</th>
			<th class="cabecalho_sumario">Número de Alunos</th>
			<th class="cabecalho_sumario">Tipo Aula</th>
			<th class="cabecalho_sumario">Turno</th>
		</tr>
		{% for unidadeCurricular, idTurma, curso, horas, nrAlunos, tipoAula, turno in turmas %}
		<tr>
			<td ><a href="{{id_Docente}}"><span class="view"></span></a></td>
			<td class="teacher_name_field"><a href="#">{{unidadeCurricular}}</a></td>
			<td>{{curso}}</td>
			<td>{{horas}}</td>
			<td>{{nrAlunos}}</td>
			<td>{{tipoAula}}</td>
			<td>{{turno}}</td>
		</tr>
		{% endfor %}
		
		{%if sizeList == 0 %}
		
		<tr>
			<td colspan="7">Não existem resultados para esta pesquisa</td>
		</tr>
		
		{% endif %}
		
	</table>
	
	<div id="paginator">
		
		<span class="current"> Página {{ turmas.number }} de {{ turmas.paginator.num_pages }}. </span>
		<br>
		<span class="step-links"><a href="?show=all">Todos</a></span>
		<span class="step-links"> {% for page_num in drange %} <a id="{{ page_num}}" href="?page={{ page_num}}&{{actualState}}">{{ page_num}}</a> {% endfor%} </span>
	</div>
	<br>
	<script type="text/javascript">document.getElementById("searchField").focus();
		filter_oa();
		filter_curso();</script>
{% endblock %}


