{% extends "departamento/index.html" %}
{% load i18n %}
{% block title %} Página de Confirmação de adicionar docente {% endblock %}

{% block breadcrumb %}
<ul id="breadcrumb">
	<li>
		<a tabindex="2" href="{% url homeDepartamento %}" title="{% trans 'Home' %}"> <img src="/static/images/BreadCrumbs/home.gif" alt="{% trans 'Home' %}" class="home" /> </a>
	</li>
	
	<li>
		Confirmação dados do Docente
	</li>
</ul>


{% endblock %}

{% block content %}
	<table id="tabela_sumario">
	    <tr>
	    	<th colspan="2" class="top_sumario">Confirmação de dados do docente
	    		{{self.process_preview}}{{context}}</th>
	    </tr>
	</table>
	<!--
	    {% for field in form %}
	        <tr>
	        	<th class="sub_cabecalho"><span>{{ field.label }}:</span></th>
	        	<td>{{ field.data}}</td>
	 		</tr>
		{% endfor %}
 </table>-->
 	
    <div id="contentForm">
		<form method="post" onkeypress="testeSearch();" >
			{% csrf_token %}
			{% for field in form %}
		        <div class ="{% cycle 'row1' 'row2' %}">
		            {{ field.label_tag }}: {{ field }}
		            {% if field.field.required %}
			        	<span>(*)</span>
			        {%endif%} 
		            {% for error in field.errors %} 
		            	{{error}} 
		            {% endfor %}
		        </div>
	    	{% endfor %}
	   		<br />
	    	<span id="CamposObirgatorio">(*) - Campos de preenchimento obrigatório</span>
		
			{{t}}
	
    		<hr />
    			<span id = "Confirmacao">Deseja submeter os Dados dos Formulário?</span>
    		
				<div id="buttonConfirm">
					<input type="hidden" name="{{ stage_field }}" value="2" />
					<input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
					<input type="button" value="{% trans 'Não' %}" onClick="javascript:history.go(-1);">
					<input type="submit" value="{% trans 'Sim' %}" />
				</div>
				<script>changeCountValue();</script>
		</form>
	</div>
{% endblock %}