{% extends "departamento/index.html" %}
{% load i18n %}
{% block title %} Página de Confirmação de adicionar docente {% endblock %}


{% block breadcrumb %}
<ul id="breadcrumb">
	<li>
		<a tabindex="2" href="{% url homeDepartamento %}" title="{% trans 'Home' %}"> <img src="/static/images/BreadCrumbs/home.gif" alt="{% trans 'Home' %}" class="home" /> </a>
	</li>
</ul>
{% endblock %}

{% block content %}
	<table id="tabela_sumario">
	    <tr>
	            <th colspan="2" class="top_sumario">Estado</th>
	    </tr>
    </table>
    <div id="sucesso">
    	OLLLLLLLLLLLLLLLLLLLLLLLLLL
    </div>
{% endblock %}

