{% extends "departamento/index.html" %}
{% load i18n %}
{% block title %}{% trans 'Turmas sem serviço docente (Departamento)'%}{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span> <a tabindex="2" href="{% url homeDepartamento %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a>
	</li>
	<li class="active">{% trans 'Turmas sem serviço docente' %}</li>
</ul>
{% endblock %}

<!-- Estes blocos é para alterar a classe do menu do index, refere se está ou não activo -->
{% block AtribuirServ %}active{% endblock %}

{% block filtros %}
	<div class="list-group">
	  <a href="#" class="list-group-item active">Cursos</a>
	  {% include "departamento/elements/filter_curso.html" %}
	</div>
{%endblock%}

{%comment%} <!-- Comentario -->
	{% block filtros %}
	<img id="filterImg" src="/static/images/filtro.png">
	<ul>
		<li class="has-sub" >
			<a  id="oa_button" tabindex="4" href='#oa'><span>Por Ordem Alfabética</span></a>
	
		</li>
		<div id="oa">
	
		
	
		</div>
		<li class="has-sub">
			<a id="curso_button" tabindex="4" href='#curso'><span>Por Curso</span><span id="ajaxLoader" class="hideAjaxLoader"></span></a>
		
		<div id="curso">
	
		
	
		</div>
		</li>
	</ul>
	
	{% endblock %}
{%endcomment%}

{% block content %}
	<div class="page-header whiteText">
	  <h1>{% trans 'Turmas sem Docentes Atribuidos'%}</h1>
	</div>
	<table cellpadding="0" cellspacing="0" border="0" class="display sumary_table" id="special_table" width="100%">
		<thead>
			<tr class="special_cabecalho">
		    	<th colspan="5" align="left">{{ano}}</th>
		    </tr>
			<tr>
				<th>{% trans 'Turma'%}</th>
				<th>{% trans 'Turno'%}</th>
				<th>{% trans 'Tipo'%}</th>
				<th>{% trans 'Horas'%}</th>
			</tr>
		</thead>
		<tbody>
			{% for servico_id, unidadeCurricular,  turno, tipo, horas, idTurma in listToSend %}
				<tr>
					<td><a href="{% url addServicoDocentDepart servico_id id_Departamento ano%}">{{unidadeCurricular}}</a></td>
					<td>{{turno}}</td>
					<td>{{tipo}}</td>
					<td>{{horas}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<script type="text/javascript">
		$(document).ready(function() {
		$('#special_table').dataTable({
			"oLanguage": {
	            "sUrl": "/static/dataTables/lang/pt-pt.txt"
	        },
	         "sPaginationType": "full_numbers",
	         "sDom": '<"dataTables_special_bar"l><"dataTables_special_bar"if><"whiteBox"rt><"pagination_box"p>'
		        
		        	
			});
			$('.hasTooltip').tooltip({"container": false});
		} );
	</script>
{% endblock %}