{% extends "docentes/index.html" %}
{% load i18n %}
{% block title %}{% trans 'Página Horas de Serviço do Docente'%}{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span> <a tabindex="2" href="{% url homeDocente %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a>
	</li>
	<li class="active">{% trans 'Horas de serviço do Docente' %}</li>
</ul>
{% endblock %}

{% block menuInfoDocente %} {% endblock %}
{% block menuHoraTrab %}class="active"{% endblock %}


{% block content %}
<div class="page-header whiteText">
  <h1>{% trans 'Horas de Serviço'%}</h1>
</div>
<table class="table table-striped table-hover">
	<tr>
		<th class="cabecalho_sumario">{% trans 'Curso' %}</th>
		<th class="cabecalho_sumario">{% trans 'Turma' %}</th>
		<th class="cabecalho_sumario">{% trans 'Horas de Serviço' %}</th>
		
	</tr>
	{%for id, turma, horas, curso in lista%}
	<tr>
		<td>{{ curso }}</td>
		<td>{{ turma }}</td>
		<td class="horas_servico">{{ horas }}</td>
	</tr>
	{%endfor%}
</table>
{% endblock %}