{% extends "base1.html" %}
{% load i18n %}
{% block title %} Página Inícial Docente {% endblock %}


{% block Username %}
	{% if user.is_active%}
	    {% trans 'Welcome,' %}
	    <strong>{% filter force_escape %} {{nomeDocente}} {% endfilter %}</strong>.
		{% block userlinks %}
		    {% url 'django-admindocs-docroot' as docsroot %}
		    {% if docsroot %}
		        <!-- Nao faz nada porque senão tiver autenticado não pode entrar neste template
		        	depois vai ser melhorado este id-->
		    {% endif %}
		    <a href="{% url sair %}" tabindex="6">{% trans 'Log out' %}</a>
		{% endblock %}
	{% endif %}



{% endblock %}

{% block Menus %}
	<ul>
	   <li class='active '><a href='/Teste_home'><span>Home</span></a></li>
	   <li class='has-sub '><a href='#'><span>Products</span></a>
	  <ul>
	     <li class='has-sub '><a href='#'><span>Product 1</span></a>
	        <ul>
	           <li><a href='#'><span>Sub Item</span></a></li>
	           <li><a href='#'><span>Sub Item</span></a></li>
	        </ul>
	     </li>
	     <li class='has-sub '><a href='#'><span>Product 2</span></a>
	        <ul>
	           <li><a href='#'><span>Sub Item</span></a></li>
	           <li><a href='#'><span>Sub Item</span></a></li>
	        </ul>
	     </li>
	  </ul>
	   </li>
	   <li><a href='#'><span>About</span></a></li>
	   <li><a href='#'><span>Contact</span></a></li>
	</ul>
{% endblock %}

{% block breadcrumb %}
	<ul id="breadcrumb">
		<!--<li><a href="{% url home %}" title="Home"><img src="../static/images/BreadCrumbs/home.gif" alt="Home" class="home" /></a></li>-->
		<li><img src="/static/images/BreadCrumbs/home.gif" alt="Home" class="home" /></li>
	</ul>
{% endblock %}

{% block content %}
	{% for d, t, h in lista%}
				    <li>{{ d }} {{ t }} {{ h }}</li>
	{% endfor %}

<br>
{{nomeDocente}}
	Docente<br />
	{% if user.is_active%}
	    <ul>
			{% for listaPermissoes in user.groups.all%}
			    <li>{{ listaPermissoes.name }} {{ listaPermissoes.id }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}

