<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

	{% load i18n %}
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<link href="static/styles/loginStyle.css" rel="stylesheet" type="text/css" >
		
		<title>Sistema de distribuição de serviço docente - Login</title>
	</head>
	<body>
		
		<div id="window">
			<div id="master">
				<div id="titleDiv"><h1>Sistema de distribuição de serviço docente</h1></div>
				<div id="imageDiv"><img id='logotipo' alt="imagem ipbeja" src="static/images/logo.png" title="logoIPBEJA"></div>
				<div id="auth_form_div">
					<form method="post">
						 <table class="form_table">
							 {% csrf_token %}
							  {{ form }}
							  <tr>
							   	<th>&nbsp;</th>
							   	<td><input type="submit" value="{% trans "Entrar" %}"/></td>
							  </tr>
						 </table>
					</form>
				</div>
			</div>
			<div id="footer">
		    	©2012 - Instituto Politécnico de Beja
			</div>
		</div>
	</body>
</html>
