body{
	margin:0 auto;
	text-align: left;
	background: #EBEBEB;
}

div#window{
	margin:0 auto;
	width: 80%;
	height: 100%;
}

div#master{
	width:100%;
	height:100%;
	float:left;
	background: white;	
	margin-bottom: 10px;
}

div#top{
	
	float: left;
	width: 100%;
	height: 120px;
	background: black;
	text-align: center;
}

div#logo
{
	width: 25%;
	height: 100%;
	text-align: left;
	float: left;
}

img#logotipo
{
	float: left;
	width: 100%;
	height: 100%;
}

div#title
{
	position: relative;
	float:right;
	height: 70%;
	width: 75%;
	text-align: center;
	color: white;
	font-family: Arial;
	font-size: 10pt;
}

div#logoutInfo
{
	float: right;
	width: 75%;
	height: 30%;
	text-align: right;
	color: white;
	font-family: Arial;
}

div#logoutInfo a
{
	color: yellow;
	padding: 0px 20px 0px 0px;
}

div#leftBar{
	float: left;
	width: 20%;
	height: 80%;
}

div#rightBar{
	float: left;
	width: 80%;
}

div#bradCrumb{
	height: 30px;
	display: cell;
	vertical-align: middle;
}

div#content{
	
}

div#footer{
	background: white;
	border-top: 1px solid #EFEFEF;
	clear: left;
	color: gray;
	font-size: small;
	font-weight: 700;
	margin-top: 5px;
	padding: 7px;
	text-align: center;
}

/*
 * Menus
 */

/* Some stylesheet reset */
#cssmenu  > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 1;
}

/* The container */
#cssmenu  > ul {
	display: block;
	position: relative;
	width: 100%;
}

	/* The list elements which contain the links */
	#cssmenu  > ul li {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;	
	}

		/* General link styling */
		#cssmenu  > ul li a {
			/* Layout */
			display: block;
			position: relative;
			margin: 0;
			border-top: 1px dotted #3a3a3a;
			border-bottom: 1px dotted #1b1b1b;
			padding: 15px 32px;
			/*width: 100%;
*/
			/* Typography */
			font-family: Helvetica, Arial, sans-serif;
			color: #d8d8d8;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 0 1px 1px #000;
			font-size: 13px;
			font-weight: 300;			

			/* Background & effects */
			/*background: #282828;*/
			background: #000000;
		}

		/* Rounded corners for the first link of the menu/submenus */
		/*#cssmenu  > ul li:first-child>a {
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-top: 0;
		}*/

		/* Rounded corners for the last link of the menu/submenus */
		/*#cssmenu  > ul li:last-child>a {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom: 0;
		}*/


		/* The hover state of the menu/submenu links */
		#cssmenu  > ul li>a:hover, #cssmenu  > ul li:hover>a {
			color: #fff;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
			background: #72FF00;
			background: -webkit-linear-gradient(bottom, #72FF00, #017601);
			background: -ms-linear-gradient(bottom, #72FF00, #017601); 
			background: -moz-linear-gradient(bottom, #72FF00, #017601);
			background: -o-linear-gradient(bottom, #72FF00, #017601);
			border-color: transparent;
		}

		/* The arrow indicating a submenu */
		#cssmenu  > ul .has-sub>a::after {
			content: '';
			position: absolute;
			top: 16px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #d8d8d8; 
		}

		/* The same arrow, but with a darker color, to create the shadow effect */
		#cssmenu  > ul .has-sub>a::before {
			content: '';
			position: absolute;
			top: 17px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #000;
		}

		/* Changing the color of the arrow on hover */
		#cssmenu  > ul li>a:hover::after, #cssmenu  > ul li:hover>a::after {
			border-left: 4px solid #fff;
		}

		#cssmenu  > ul li>a:hover::before, #cssmenu  > ul li:hover>a::before {
			border-left: 4px solid rgba(0, 0, 0, .3);
		}

	
		/* THE SUBMENUS */
		#cssmenu  > ul ul {
			position: absolute;
			left: 98%;
			top: -9999px;
			padding-left: 5px;
			opacity: 0;
			/* The fade effect, created using an opacity transition */
			-webkit-transition: opacity .3s ease-in;
			-moz-transition: opacity .3s ease-in;
			-o-transition: opacity .3s ease-in;
			-ms-transition: opacity .3s ease-in;
			width: 100%;
		}

		/* Showing the submenu when the user is hovering the parent link */
		#cssmenu  > ul li:hover>ul {
			top: 0px;
			opacity: 1;
		}
	
/*
 * Fim Menus
 */


/*
 * BreadCrumbs
 */

#breadcrumb {
    font: 11px Arial, Helvetica, sans-serif;
    background-image:url('../images/BreadCrumbs/bc_bg.gif'); 
    background-repeat:repeat-x;
	height:30px;
    line-height:30px;
    color:#888;
    border-top:solid 1px #cacaca;
    border-bottom:solid 1px #cacaca;
    border-right:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

#breadcrumb li {
    list-style-type:none;
    padding-left:10px;
	display:inline-block;
	float:left;
}

#breadcrumb a {
	display:inline-block;
    background-image:url('../images/BreadCrumbs/bc_separator.gif'); 
    background-repeat:no-repeat; 
    background-position:right;
    padding-right: 15px;
    text-decoration: none;
    color:#333333;
	outline:none;
}

.home {
    border:none;
    margin: 7px 0px;
}

#breadcrumb a:hover {
	color:#35acc5;
}

/*
 * FIM BreadCrumbs
 */