body{
	margin:0 auto;
	height: 100%;
	width: 100%;
	text-align: left;
}

#window{
	width: 80%;
	height: auto;
	margin:0 auto;
	margin-top: 30px;
}

div#master{
	width:100%;
	height:auto;
	float:left;
	border:2px solid #000000;
		
}

div#top{
	text-align: center;
	float: left;
	width: 100%;
	height: 120px;
}

div#logo
{
width: 25%;
height: 100%;
text-align: left;
background: red;
	float: left;
}

div#title
{
	text-align: center;
}

div#leftBar{
	float: left;
	width: 20%;
	left: 100%;
}

div#rightBar{
	float: right;
	width: 80%;
	background: #769DC0;
}
div#bradCrumb{
	height: 30px;
	background: #00FFFF;
}

div#content{
	
}

div#footer{
	width:100%;
	height:auto;
	float:left;
	text-align: center;
}

/*
 * Menus
 */

/* Some stylesheet reset */
#cssmenu  > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 1;
}

/* The container */
#cssmenu  > ul {
	display: block;
	position: relative;
	width: 100%;
}

	/* The list elements which contain the links */
	#cssmenu  > ul li {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;	
	}

		/* General link styling */
		#cssmenu  > ul li a {
			/* Layout */
			display: block;
			position: relative;
			margin: 0;
			border-top: 1px dotted #3a3a3a;
			border-bottom: 1px dotted #1b1b1b;
			padding: 15px 32px;
			/*width: 100%;
*/
			/* Typography */
			font-family: Helvetica, Arial, sans-serif;
			color: #d8d8d8;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 0 1px 1px #000;
			font-size: 13px;
			font-weight: 300;			

			/* Background & effects */
			background: #282828;
		}

		/* Rounded corners for the first link of the menu/submenus */
		#cssmenu  > ul li:first-child>a {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-top: 0;
		}

		/* Rounded corners for the last link of the menu/submenus */
		#cssmenu  > ul li:last-child>a {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom: 0;
		}


		/* The hover state of the menu/submenu links */
		#cssmenu  > ul li>a:hover, #cssmenu  > ul li:hover>a {
			color: #fff;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
			background: #72FF00;
			background: -webkit-linear-gradient(bottom, #72FF00, #017601);
			background: -ms-linear-gradient(bottom, #72FF00, #017601); 
			background: -moz-linear-gradient(bottom, #72FF00, #017601);
			background: -o-linear-gradient(bottom, #72FF00, #017601);
			border-color: transparent;
		}

		/* The arrow indicating a submenu */
		#cssmenu  > ul .has-sub>a::after {
			content: '';
			position: absolute;
			top: 16px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #d8d8d8; 
		}

		/* The same arrow, but with a darker color, to create the shadow effect */
		#cssmenu  > ul .has-sub>a::before {
			content: '';
			position: absolute;
			top: 17px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #000;
		}

		/* Changing the color of the arrow on hover */
		#cssmenu  > ul li>a:hover::after, #cssmenu  > ul li:hover>a::after {
			border-left: 4px solid #fff;
		}

		#cssmenu  > ul li>a:hover::before, #cssmenu  > ul li:hover>a::before {
			border-left: 4px solid rgba(0, 0, 0, .3);
		}

	
		/* THE SUBMENUS */
		#cssmenu  > ul ul {
			position: absolute;
			left: 98%;
			top: -9999px;
			padding-left: 5px;
			opacity: 0;
			/* The fade effect, created using an opacity transition */
			-webkit-transition: opacity .3s ease-in;
			-moz-transition: opacity .3s ease-in;
			-o-transition: opacity .3s ease-in;
			-ms-transition: opacity .3s ease-in;
			width: 100%;
		}

		/* Showing the submenu when the user is hovering the parent link */
		#cssmenu  > ul li:hover>ul {
			top: 0px;
			opacity: 1;
		}
	
/*
 * Fim Menus
 */
