.teachersDiv {
	width: 45%;
	float: left;
	overflow: scroll;
	height: 300px;


	
}

.idHide {
	display: none;
	/*visibility: hidden;*/
}

.servicoControls {
	width: 10%;
	float: left;
}

#addDocenteDepButton {
	content: url("/static/images/icons/addDocente.png");
	/*background: url("/static/images/icons/addDocente.png");*/
}

#addDocenteDepButton:hover {
	cursor: pointer;
	content: url("/static/images/icons/addDocente_hover.png");
}

table.teachersTable tr:hover td {
	cursor: pointer;
	background-color: rgb(245,150,7);
	color: #FFFFFF;
}

table.modulsTable:hover th {
	cursor: pointer;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	text-shadow: none;
	background-color: rgb(245,150,7);
	border: 1px solid rgb(245,150,7);
	border-right: 3px solid rgb(245,150,7);
	padding: 0px 10px;
	background: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0.02, rgb(245,150,7)),
	color-stop(0.51, rgb(245,150,7)),
	color-stop(0.87, rgb(245,150,7))
	);
	background: -moz-linear-gradient(
	left bottom,
	rgb(245,150,7) 2%,
	rgb(245,150,7) 51%,
	rgb(245,150,7) 87%
	);
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	
}

table.selectModulo th {

	color: #ffffff;
	text-shadow: none;
	text-shadow: none;
	font-size: 15px;
	font-weight: bold;
	background-color: rgb(0, 162, 232);
	border: 1px solid rgb(0, 162, 232);
	border-right: 3px solid rgb(0, 162, 232);
	padding: 0px 10px;
	background: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0.02, rgb(0, 162, 232)),
	color-stop(0.51, rgb(0, 162, 232)),
	color-stop(0.87, rgb(0, 162, 232))
	);
	background: -moz-linear-gradient(
	left bottom,
	rgb(0, 162, 232) 2%,
	rgb(0, 162, 232) 51%,
	rgb(0, 162, 232) 87%
	);
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

table.selectModulo:hover th {

	color: #ffffff;
	text-shadow: none;
	text-shadow: none;
	font-size: 15px;
	font-weight: bold;
	background-color: rgb(63, 72, 204);
	border: 1px solid rgb(63, 72, 204);
	border-right: 3px solid rgb(63, 72, 204);
	padding: 0px 10px;
	background: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0.02, rgb(63, 72, 204)),
	color-stop(0.51, rgb(63, 72, 204)),
	color-stop(0.87, rgb(63, 72, 204))
	);
	background: -moz-linear-gradient(
	left bottom,
	rgb(63, 72, 204) 2%,
	rgb(63, 72, 204) 51%,
	rgb(63, 72, 204) 87%
	);
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.delButton {

	content: url("/static/images/icons/delete.png");
}

.delButton:hover {
	content: url("/static/images/icons/delete_hover.png");
	cursor: pointer;
	
}

/*Barra de carregamento ajax*/
.hideAjaxLoader
{
	display: none;
	
}

.showAjaxLoader
{
	display: block;
	content: url("/static/images/icons/ajax-loader.gif");
	
}
table.teachersTable tr.select td {
	background-color: rgb(0, 162, 232);
	color: #FFFFFF;
}

table.teachersTable .added {
	display: none;
}

.modulsDiv {
	width: 45%;
	float: left;
}

.errorField{
	
	font-family: Arial;
	font-weight: 600;
	
}

/* Coloca a vermelho o texto na informaçaão
 * do docentes atribuidos aos modulos
 * caso nao exista docente nesse modulo
 */
table.tabela_sumario tr.WithoutTeacher td
{
	color: red;
	font-weight: 600;
}

