<!-- Modal -->
<div class="modal fade" id="modal_aviso_carregar_novo_ano" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><strong><span class="glyphicon glyphicon-warning-sign"></span> Aviso!</strong> Impossivel continuar a editar o ano</h4>
      </div>
      <div class="modal-body">
        <h4><strong>Não existe nenhum ano em construção!</strong></h4>
        <h4>Tente por favor inciar a construção de um novo ano.</h4>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" data-dismiss="modal">Sim Compreendi</button>
      </div>
    </div>
  </div>
</div>