<!-- Modal -->
<div class="modal fade" id="modal_confirmar_remover_ano" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content alert alert-danger">
      <div class="modal-header">
        <button type="button" class="close modal_cancel"  aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><strong>
        	<span class="glyphicon glyphicon-warning-sign"></span>
AVISO!</strong> Está prestes a eliminar o ano {{ano.ano}} em construção!</h4>
      </div>
      <div class="modal-body">
        <h3><strong><span class="glyphicon glyphicon-remove-sign"></span>
 Tem mesmo a certeza que deseja continuar e eliminar todo ano {{ano.ano}} em construção?</strong></h3>
        <h4>(Inclui, departamentos, cursos, unidades curriculares, turmas, seviços docente)</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal_cancel" >Cancelar</button>
        <button type="button" onclick="remover_ano_construcao();"  class="btn btn-danger">Continuar</button>
      </div>
    </div>
  </div>
</div>