{% extends "recursosHumanos/index.html" %}
{% load i18n %}
{% block title %} Página Ajuda {% endblock %}

{% block breadcrumb %}
<ul id="breadcrumb">
	<li>
		<a tabindex="2" href="{% url homeRecursosHumanos %}" title="{% trans 'Home' %}"> <img src="/static/images/BreadCrumbs/home.gif" alt="{% trans 'Home' %}" class="home" /> </a>
	</li>
		<li>
			<a tabindex="3" href="#" title="....">.....</a>
		</li>
</ul>
{% endblock %}

{% block content %}
	<table class="tabela_sumario">
	    <tr>
	    	<th colspan="2" class="top_sumario">Ajuda</th>
	    </tr>
    </table>
{% endblock %}