{% extends "base1.html" %}
{% load i18n %}
{% block title %} Página Inícial Recursos Humanos {% endblock %}

{% block breadcrumb %}
<ul id="breadcrumb">
	<!--<li><a href="{% url home %}" title="Home"><img src="../static/images/BreadCrumbs/home.gif" alt="Home" class="home" /></a></li>-->
	<li><img src="/static/images/BreadCrumbs/home.gif" alt="{% trans 'Home' %}" class="home" />
	</li>
</ul>
{% endblock %}


{% block Menus %}
<ul>

	<li class='active '>
		<a tabindex="3" href='/Teste_home'><span>{% trans "Home" %}</span></a>
	</li>
	<li>
		<a tabindex="4" href='#'><span>Turmas</span></a>
		<!--<ul>

		<li class='active '><a href='/Teste_home'><span>{% trans 'Home' %}</span></a></li>
		<li class='has-sub '><a href='#'><span>Products</span></a>
		<ul>

		<li class='has-sub '><a href='#'><span>Product 1</span></a>
		<ul>
		<li><a href='#'><span>Sub Item</span></a></li>
		<li><a href='#'><span>Sub Item</span></a></li>
		</ul>
		</li>
		<li class='has-sub '><a href='#'><span>Product 2</span></a>
		<ul>
		<li><a href='#'><span>Sub Item</span></a></li>
		<li><a href='#'><span>Sub Item</span></a></li>
		</ul>
		</li>
		</ul>-->
	</li>
	<li>
		<a tabindex="5" href='#'><span>Horas Trabalho</span></a>
	</li>
	<!--<li><a href='#'><span>Contact</span></a></li>-->
</ul>
{% endblock %}


{% block content %}
<table id="tabela_sumario">
	<tr>
		<th colspan="2" id="top_sumario" class="cabecalho_sumario">
		{% csrf_token %}
		<form action="" method="get" name="searchForm">
			<img src="/static/images/selector-search.gif" title="search" alt="searchIcon" />
			<input name="searchField" id="searchField" type="search" value="{{keyword}}" />
			<input id="submitSearch" value={%trans 'Search'%} name="Submit" type="submit" />
		</form>
		
		</th>
	</tr>
	<tr>
		<th class="cabecalho_sumario">Docente</th>
		<th class="cabecalho_sumario">Departamento</th>
	</tr>
	{% for nome, departamento, id_Docente in docentes %}
	<tr>
		<td><a href="{{ id_Docente}}">{{nome}}</a></td>
		<td>{{departamento}}</td>
	</tr>
	{% endfor %}

</table>
<!--<div id="paginator">
<a href="#">1</a>
<a href="#">Mostrar Todos</a>
</div>-->
<!--<div id="paginator">
<span class="step-links">
{% if docentes.has_previous %}
<a href="?page={{ docentes.previous_page_number }}">anterior</a>
{% endif %}

<span class="current">
Página {{ docentes.number }} de {{ docentes.paginator.num_pages }}.
</span>

{% if docentes.has_next %}
<a href="?page={{ docentes.next_page_number }}">seguinte</a>
{% endif %}
</span>
</div>-->

<div id="paginator">
	<span class="current"> Página {{ docentes.number }} de {{ docentes.paginator.num_pages }}. </span>
	<br>
	<span class="step-links"> {% for page_num in drange %} <a href="?page={{ page_num}}">{{ page_num}}</a> {% endfor%} </span>
</div>
<br>
{% endblock %}
<script type="text/javascript">document.getElementById("searchField").focus();</script>
