{% extends "base1.html" %}
{% load i18n %}
{% block title %} Página Inícial Recursos Humanos {% endblock %}
{% block breadcrumb %}
<ul id="breadcrumb">
	<!--<li><a href="{% url home %}" title="Home"><img src="../static/images/BreadCrumbs/home.gif" alt="Home" class="home" /></a></li>-->
	<li><img src="/static/images/BreadCrumbs/home.gif" alt="{% trans 'Home' %}" class="home" />
	</li>
</ul>
{% endblock %}

{% block Menus %}
<ul>

	<li class='active '>
		<a tabindex="3" href='/Teste_home'><span>{% trans "Home" %}</span></a>
	</li>
	<li>
		<a tabindex="4" href='{%url adicionarDocenteRH%}'><span>Adicionar Docente</span></a>
		<!--<ul>

		<li class='active '><a href='/Teste_home'><span>{% trans 'Home' %}</span></a></li>
		<li class='has-sub '><a href='#'><span>Products</span></a>
		<ul>

		<li class='has-sub '><a href='#'><span>Product 1</span></a>
		<ul>
		<li><a href='#'><span>Sub Item</span></a></li>
		<li><a href='#'><span>Sub Item</span></a></li>
		</ul>
		</li>
		<li class='has-sub '><a href='#'><span>Product 2</span></a>
		<ul>
		<li><a href='#'><span>Sub Item</span></a></li>
		<li><a href='#'><span>Sub Item</span></a></li>
		</ul>
		</li>
		</ul>-->
	</li>
	<li>
		<a tabindex="5" href='{%url listDocente %}'><span>Lista de Docentes</span></a>
	</li>
	<li>
		<a href='#' id="butao" ><span>Contact</span></a>
	</li>
</ul>
{% endblock %}
{% block content %}
<div id="teste">
	dsds
</div>


{% endblock %}