{% extends "recursosHumanos/index.html" %}
{% load i18n %}
{% block title %}{% trans 'Página Inícial Recursos Humanos' %}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span> <a tabindex="2" href="{% url homeRecursosHumanos %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a>
	</li>
	<li>
    	<a href="{% url listContratos %}" title="{% trans 'Informação do Docente'%}">{% trans 'Listar Contratos'%}</a>
    </li>
	<li class="active">{% trans 'Informação do Docente/Contacto' %}</li>
</ul>
{% endblock %}

<!-- Estes blocos é para alterar a classe do menu do index, refere se está ou não activo -->
{% block MenuDocente %}active{% endblock %}
{% block MenuInformacao %} {% endblock %}


{% block content %}
<div class="page-header whiteText">
  <h1>{% trans 'Informação Docente/Contrato' %}</h1>
</div>

<div class="whiteBox">
 	
 	<dl class="dl-horizontal">
  <dt>Nome Completo</dt>
  <dd>{{ nomeDocente }}</dd>
</dl>
<!---------------------------------------------->
 	<dl class="dl-horizontal">
  <dt>Departamento</dt>
  <dd>{{ nome_Departamento }}</dd>
</dl>
<!---------------------------------------------->
 	<dl class="dl-horizontal">
  <dt>Escalão</dt>
  <dd>{{ escalao }}</dd>
</dl>
<!---------------------------------------------->
 	<dl class="dl-horizontal">
  <dt>Exclusividade</dt>
  <dd>{{ regimeExclusividade }}</dd>
</dl>
<!---------------------------------------------->
 	<dl class="dl-horizontal">
  <dt>Categoria</dt>
  <dd>{{ categoria }}</dd>
</dl>
<!---------------------------------------------->
 	<dl class="dl-horizontal">
  <dt>Tipo Contrato</dt>
  <dd>{{ tipoContrato }}</dd>
</dl>
<!---------------------------------------------->
 	<dl class="dl-horizontal">
  <dt>Percentagem</dt>
  <dd>{{ percentagem }}</dd>
</dl>
<!---------------------------------------------->
 	<dl class="dl-horizontal">
  <dt>Data Inicio</dt>
  <dd>{{ dataInicio }}</dd>
</dl>
<!---------------------------------------------->
 	<dl class="dl-horizontal">
  <dt>Data Fim</dt>
  <dd>{{ dataFim }}</dd>
</dl>
 </div>
{%comment%}
<table class="table table-striped table-hover">
	<tr>
	        <th class="sub_cabecalho"><span>Nome Completo</span></th>
	        <td>{{ nomeDocente }}</td>
	</tr>
	<tr>
	        <th class="sub_cabecalho"><span>Departamento</span></th>
	        <td>{{ nome_Departamento }}</td>
	</tr>
	<tr>
	        <th class="sub_cabecalho"><span>Escalão</span></th>
	        <td>{{ escalao }}</td>
	</tr>
	<tr>
	        <th class="sub_cabecalho"><span>Regime Exclusividade</span></th>
	        <td>{{ regimeExclusividade }}</td>
	</tr>
	<tr>
	        <th class="sub_cabecalho"><span>Categoria</span></th>
	        <td>{{ categoria }}</td>
	</tr>
	<tr>
	        <th class="sub_cabecalho"><span>Tipo Contrato</span></th>
	        <td>{{ tipoContrato }}</td>
	</tr>
	<tr>
	        <th class="sub_cabecalho"><span>Percentagem</span></th>
	        <td>{{ percentagem }}</td>
	</tr>
	<tr>
	        <th class="sub_cabecalho"><span>Data Inicio</span></th>
	        <td>{{ dataInicio }}</td>
	</tr>
	<tr>
	        <th class="sub_cabecalho"><span>Data Fim</span></th>
	        <td>{{ dataFim }}</td>
	</tr>
</table>    
 {%endcomment%}
{% endblock %}