{% extends "recursosHumanos/index.html" %}
{% load i18n %}
{% block title %}{% trans 'Página Inícial Recursos Humanos'%}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span> <a tabindex="2" href="{% url homeRecursosHumanos %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a>
	</li>
	<li class="active">{% trans 'Lista de Docentes' %}</li>
</ul>
{% endblock %}

{% block filtros %}
<ul>

	<li class='title'>
		<span>Filtros</span>
	</li>
	<li class="has-sub" >
		<a  id="oa_button" tabindex="4" href='#oa'><span>Por Ordem Alfabética</span></a>

	</li>
	<div id="oa">

	

	</div>

	<li class="has-sub">
		<a id="da_button" tabindex="4" href='#dep'><span>Por Departamento</span></a>
		
	</li>
	<div id="dep">

	

	</div>
	<li class="has-sub">
		<a id="ca_button" tabindex="4" href='#category'><span>Por Categoria</span></a>
		
	</li>
	<div id="category">

	

	</div>
</ul>

{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans 'Lista de Docentes '%}</h1>
</div>
<nav role="navigation" class="navbar navbar-default">
	<div  class="collapse navbar-collapse">
       	<div  class="collapse navbar-collapse navbar-left" >
       		{% if keyword != None%}	
          		<p class="navbar-text">Pesquisa por "{{keyword}}</p>
          	{% endif %}
          	<p class="navbar-text">{{sizeList}} resultados encontrados</p>
        </div>
        {% csrf_token %}
        <form role="search" class="navbar-form navbar-left" action="" method="get" name="searchForm">
        	<div class="form-group">
           		<input name="searchField" type="text" placeholder="{%trans 'Search'%}" class="form-control" value="{{keyword}}">
            </div>
            <button class="btn btn-default" name="Submit" type="submit">{%trans 'Search'%}</button>
       	</form>
	</div>
</nav>

<table class="table table-striped table-hover">
	<tr>
		<th></th>
		<th class="cabecalho_sumario">Docente</th>
		<th class="cabecalho_sumario">Departamento</th>
		<th class="cabecalho_sumario">Categoria</th>
		<th class="cabecalho_sumario">Regime Exclusividade</th>
		<th class="cabecalho_sumario">Termo Contrato</th>
	</tr>
	{% for nome, departamento, id_Docente, nomeCategoria, exclusividade, fim_contrato in docentes %}
	<tr>
		<td ><a href="{{id_Docente}}"><span class="view"></span></a></td>
		<td class="teacher_name_field"><a href="{{id_Docente}}">{{nome}}</a></td>
		<td>{{departamento}}</td>
		<td>{{nomeCategoria}}</td>
		
		<td>{{exclusividade}}</td>
	
		<td>{{fim_contrato}}</td>
	</tr>
	{% endfor %}
	{%if sizeList == 0 %}
			
			<tr>
				<td colspan="6">Não existem resultados para esta pesquisa</td>
			</tr>
			
		{% endif %}

</table>
<!--<div id="paginator">
<a href="#">1</a>
<a href="#">Mostrar Todos</a>
</div>-->
<!--<div id="paginator">
<span class="step-links">
{% if docentes.has_previous %}
<a href="?page={{ docentes.previous_page_number }}">anterior</a>
{% endif %}

<span class="current">
Página {{ docentes.number }} de {{ docentes.paginator.num_pages }}.
</span>

{% if docentes.has_next %}
<a href="?page={{ docentes.next_page_number }}">seguinte</a>
{% endif %}
</span>
</div>-->

<!--PAGINAÇÂO -->
<div>
	{% comment %}
		<span class="current"> Página {{ docentes.number }} de {{ docentes.paginator.num_pages }}. </span>
		<span class="step-links"><a href="?show=all">Todos</a></span>
	{% endcomment %}
	<ul class="pagination">	
		<li><a href="?show=all">Todos</a></li>
		{% for page_num in drange %}
			{%if page_num == docentes.number%}
				<li id = "{{ page_num}}" class="active"><a href="?page={{ page_num}}&{{actualState}}">{{ page_num}}</a></li>
			{%else%}
				 <li id = "{{ page_num}}"><a href="?page={{ page_num}}&{{actualState}}">{{ page_num}}</a></li>
			{%endif%}
		{% endfor%} 
	</span>	
</div>

<script type="text/javascript">document.getElementById("searchField").focus();
	filter_oa();
	filter_dep();
	filter_cat();
	</script>
{% endblock %}

