{% extends "recursosHumanos/index.html" %}
{% load i18n %}
{% block title %}{% trans 'Recursos Humanos - Contratos'%}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span> <a tabindex="2" href="{% url homeRecursosHumanos %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a>
	</li>
	<li class="active">{% trans 'Listar Contratos' %}</li>
</ul>
{% endblock %}

<!-- Estes blocos é para alterar a classe do menu do index, refere se está ou não activo -->
{% block MenuDocente %}active{% endblock %}
{% block MenuInformacao %} {% endblock %}

{% block filtros %}
<div class="list-group">
  <a href="#" class="list-group-item active">
    Departamento
  </a>
  {% include "recursosHumanos/filter_dep.html" %}
  
  <a href="#" class="list-group-item active">Categoria</a>
   {% include "recursosHumanos/filter_cat.html" %}
  <a href="#" class="list-group-item active">Data Inicio</a>
  <a  class="list-group-item list-group-item-children">
  	<input type="text" readonly="readonly" id="datepicker_start">
  	<script>
  $(function() {
    $( "#datepicker_start" ).datepicker({
      changeMonth: true,
      changeYear: true,
      showOn: "both",
      buttonImage: "/static/images/images_jquery_ui/calendar.gif",
      buttonImageOnly: true
    });
  });
  </script>
  </a>
  <a href="#" class="list-group-item active">Data Fim</a>
    <a  class="list-group-item list-group-item-children">
  	<input type="text" readonly="readonly" id="datepicker_end">
  	<script>
  $(function() {
    $( "#datepicker_end" ).datepicker({
      changeMonth: true,
      changeYear: true,
      showOn: "both",
      buttonImage: "/static/images/images_jquery_ui/calendar.gif",
      buttonImageOnly: true
    });
  });
  </script>
  </a>
</div>

<!--<ul>

	<li class='title'>
		<span>Filtros</span>
	</li>
	<li class="has-sub" >
		<a  id="oa_button" tabindex="4" href='#oa'><span>Por Ordem Alfabética</span></a>

	</li>
	<div id="oa">

	</div>

	<li class="has-sub">
		<a id="da_button" tabindex="4" href='#dep'><span>Por Departamento</span></a>

	</li>
	<div id="dep">

	</div>
	<li class="has-sub">
		<a id="ca_button" tabindex="4" href='#category'><span>Por Categoria</span></a>

	</li>
	<div id="category">

	</div>
	<li class="has-sub">
		<a id="date_button" tabindex="4" href='#date'><span>Por Data</span></a>

	</li>
	<div id="date">

		<li class="has-sub">
			<a class="date" id="start_date_button" tabindex="4" href='#date'><span>Por Data Ínicio</span></a>

		</li>
		<!--Por data de inicio----------------------------->

		<!--<div  id="start_date">

			<form id="form_start_date" accept-charset="utf-8">

				<table>
				
					<tr>
						<td colspan="4" id="contStart"></td>
					</tr>
					<tr>
						<td>
						<input class="fieldData" style="text-align: center" readonly="readonly" name="date" id="start_date_field" size="14" />
						</td>

					</tr>
				</table>

				<script type="text/javascript">
					//<![CDATA[
					// this handler is designed to work both for onSelect and onTimeChange
					// events.  It updates the input fields according to what's selected in
					// the calendar.
					function updateFields(cal) {
					var date=cal.selection.get();
					if(date) {
					date=Calendar.intToDate(date);
					document.getElementById("start_date_field").value=Calendar.printDate(date,"%d-%m-%Y");
					}
					};
					Calendar.setup({
					cont:"contStart",onSelect:updateFields
					});
					//]]>
				</script>
	
			<span>No raio de </span>
			<input name="number_increment" id="number_increment" type="number" min="1" value="1" />
			<span>dias </span>
		

		<p>
			<input  class="submitDate" name="data_inicio" id="submitStartDate" type="submit" value="Filtrar"/>
		</p>
		</form>

	</div>

	<li class="has-sub">
		<a class="date"  id="end_date_button" tabindex="4" href='#date'><span>Por Data Fim</span></a>

	</li>
	<div id="end_date">
<form id="form_end_date" accept-charset="utf-8">

				<table>
					
					<tr>
						<td colspan="4" id="contEnd"></td>
					</tr>
					<tr>
						<td>
						<input class="fieldData" style="text-align: center" readonly="readonly" name="date" id="end_date_field" size="14" />
						</td>

					</tr>
				</table>

				<script type="text/javascript">
					//<![CDATA[
					// this handler is designed to work both for onSelect and onTimeChange
					// events.  It updates the input fields according to what's selected in
					// the calendar.
					function updateFields(cal) {
					var date=cal.selection.get();
					if(date) {
					date=Calendar.intToDate(date);
					document.getElementById("end_date_field").value=Calendar.printDate(date,"%d-%m-%Y");
					}
					};
					Calendar.setup({
					cont:"contEnd",onSelect:updateFields
					});
					//]]>
				</script>
	
			<span>No raio de </span>
			<input name="number_increment" id="number_increment" type="number" min="1" value="1" />
			<span>dias </span>
		

		<p>
			<input class="submitDate" name="data_fim" id="submitEndDate" type="submit" value="Filtrar"/>
		</p>
		</form>

	</div>

	</div>
</ul>-->

{% endblock %}

{% block content %}
<div class="page-header whiteText">
  <h1>{% trans 'Listar Contratos'%}</h1>
</div>

<nav role="navigation" class="navbar navbar-default">
	<div  class="collapse navbar-collapse">
       	<div  class="collapse navbar-collapse navbar-left" >
       		{% if keyword != None%}	
          		<p class="navbar-text">Pesquisa por "{{keyword}}</p>
          	{% endif %}
          	<p class="navbar-text">{{sizeList}} resultados encontrados</p>
        </div>
        {% csrf_token %}
        <form role="search" class="navbar-form navbar-left" action="" method="get" name="searchForm">
        	<div class="form-group">
           		<input name="searchField" type="text" placeholder="{%trans 'Search'%}" class="form-control" value="{{keyword}}">
            </div>
            <button class="btn btn-default" name="Submit" type="submit">{%trans 'Search'%}</button>
       	</form>
	</div>
</nav>

<div class="whiteBox">
<table class="table table-striped table-hover">
	<tr>
		<th></th>
		<th class="cabecalho_sumario">Docente</th>
		<th class="cabecalho_sumario">Categoria</th>
		<th class="cabecalho_sumario">Tipo Contrato</th>
		<th class="cabecalho_sumario">Percentagem</th>
		<th class="cabecalho_sumario">Data Inicio</th>
		<th class="cabecalho_sumario">Data Fim</th>
	</tr>
	{% for nome, nomeCategoria, id_Docente, contract_type, percentagem, start_contract, end_contract in docentes %}
	<tr>
			<td ><a href="{{id_Docente}}"><span class="view"></span></a></td>
		<td class="teacher_name_field"><a href="{{id_Docente}}">{{nome}}</a></td>
		<td>{{nomeCategoria}}</td>
		<td>{{contract_type}}</td>

		<td>{{percentagem}}</td>

		<td>{{start_contract}}</td>
		<td>{{end_contract}}</td>
	</tr>
	{% endfor %}
	{%if sizeList == 0 %}
			
			<tr>
				<td colspan="7">Não existem resultados para esta pesquisa</td>
			</tr>
			
	{% endif %}

</table>
</div>

<!--PAGINAÇÂO -->
<div>
	{% comment %}
		<span class="current"> Página {{ docentes.number }} de {{ docentes.paginator.num_pages }}. </span>
		<span class="step-links"><a href="?show=all">Todos</a></span>
	{% endcomment %}
	<ul class="pagination">	
		<li><a href="?show=all">Todos</a></li>
		{% for page_num in drange %}
			{%if page_num == docentes.number%}
				<li id = "{{ page_num}}" class="active"><a href="?page={{ page_num}}&{{actualState}}">{{ page_num}}</a></li>
			{%else%}
				 <li id = "{{ page_num}}"><a href="?page={{ page_num}}&{{actualState}}">{{ page_num}}</a></li>
			{%endif%}
		{% endfor%} 
	</span>	
</div>



<script type="text/javascript">document.getElementById("searchField").focus();
	filter_oa();
	filter_dep();
	filter_cat();
	filter_date();
	date_function();
	
	</script>
{% endblock %}

