{% extends "recursosHumanos/index.html" %}
{% load i18n %}
{% block title %} Recursos Humanos - Contratos {% endblock %}
{% block breadcrumb %}
<ul id="breadcrumb">
	<!--<li><a href="{% url home %}" title="Home"><img src="../static/images/BreadCrumbs/home.gif" alt="Home" class="home" /></a></li>-->
	<li><img src="/static/images/BreadCrumbs/home.gif" alt="{% trans 'Home' %}" class="home" />
	</li>
</ul>
{% endblock %}
{% block Filtros %}
<ul>

	<li class='title'>
		<span>Filtros</span>
	</li>
	<li class="has-sub" >
		<a  id="oa_button" tabindex="4" href='#oa'><span>Por Ordem Alfabética</span></a>

	</li>
	<div id="oa">

	</div>

	<li class="has-sub">
		<a id="da_button" tabindex="4" href='#dep'><span>Por Departamento</span></a>

	</li>
	<div id="dep">

	</div>
	<li class="has-sub">
		<a id="ca_button" tabindex="4" href='#category'><span>Por Categoria</span></a>

	</li>
	<div id="category">

	</div>
	<li class="has-sub">
		<a id="date_button" tabindex="4" href='#date'><span>Por Data</span></a>

	</li>
	<div id="date">

		<li class="has-sub">
			<a class="date" id="start_date_button" tabindex="4" href='#date'><span>Por Data Ínicio</span></a>

		</li>
		<!--Por data de inicio----------------------------->

		<div  id="start_date">

			<form id="form_start_date" accept-charset="utf-8">

				<table>
					<tr id="first-row">
						<th></th>
					</tr>
					<tr>
						<td colspan="4" id="cont"></td>
					</tr>
					<tr>
						<td>
						<input style="text-align: center" readonly="true" name="date" id="f_date" size="14" />
						</td>

					</tr>
				</table>

				<script type="text/javascript">
					//<![CDATA[
					// this handler is designed to work both for onSelect and onTimeChange
					// events.  It updates the input fields according to what's selected in
					// the calendar.
					function updateFields(cal) {
					var date=cal.selection.get();
					if(date) {
					date=Calendar.intToDate(date);
					document.getElementById("f_date").value=Calendar.printDate(date,"%d-%m-%Y");
					}
					};
					Calendar.setup({
					cont:"cont",onSelect:updateFields
					});
					//]]>
				</script>
	
			<span>No raio de </span>
			<input name="number_increment" id="number_increment" type="number" min="1" value="1" />
			<span>dias </span>
		

		<p>
			<input name="data_inicio" id="submitStartDate" type="submit" value="Filtrar"/>
		</p>
		</form>

	</div>

	<li class="has-sub">
		<a class="date"  id="end_date_button" tabindex="4" href='#date'><span>Por Data Fim</span></a>

	</li>
	<div id="end_date">

	</div>

	</div>
</ul>

{% endblock %}

{% block content %}
<table id="tabela_sumario">
	<tr>
		<th colspan="6" id="top_sumario" class="cabecalho_sumario"> {% csrf_token %}
		<form action="" method="get" name="searchForm">
			<img src="/static/images/selector-search.gif" title="search" alt="searchIcon" />
			<input name="searchField" id="searchField" type="search" value="{{keyword}}" />
			<input id="submitSearch" value={%trans 'Search'%} name="Submit" type="submit" />
			
		</form></th>
	</tr>
	<tr>
		<th class="cabecalho_sumario">Docente</th>
		<th class="cabecalho_sumario">Categoria</th>
		<th class="cabecalho_sumario">Tipo Contrato</th>
		<th class="cabecalho_sumario">Percentagem</th>
		<th class="cabecalho_sumario">Data Inicio</th>
		<th class="cabecalho_sumario">Data Fim</th>
	</tr>
	{% for nome, nomeCategoria, id_Docente, contract_type, percentagem, start_contract, end_contract in docentes %}
	<tr>
		<td class="teacher_name_field"><a href="{{id_Docente}}">{{nome}}</a></td>
		<td>{{nomeCategoria}}</td>
		<td>{{contract_type}}</td>

		<td>{{percentagem}}</td>

		<td>{{start_contract}}</td>
		<td>{{end_contract}}</td>
	</tr>
	{% endfor %}

</table>
<!--<div id="paginator">
<a href="#">1</a>
<a href="#">Mostrar Todos</a>
</div>-->
<!--<div id="paginator">
<span class="step-links">
{% if docentes.has_previous %}
<a href="?page={{ docentes.previous_page_number }}">anterior</a>
{% endif %}

<span class="current">
Página {{ docentes.number }} de {{ docentes.paginator.num_pages }}.
</span>

{% if docentes.has_next %}
<a href="?page={{ docentes.next_page_number }}">seguinte</a>
{% endif %}
</span>
</div>-->

<div id="paginator">
	<span class="current"> Página {{ docentes.number }} de {{ docentes.paginator.num_pages }}. </span>
	<br>
	<span class="step-links"><a href="?show=all">Todos</a></span>
	<span class="step-links"> {% for page_num in drange %} <a id="{{ page_num}}" href="?page={{ page_num}}&{{actualState}}">{{ page_num}}</a> {% endfor%} </span>
</div>
<br>
<script type="text/javascript">document.getElementById("searchField").focus();</script>
{% endblock %}

