{% extends "recursosHumanos/index.html" %}
{% load i18n %}
{% block title %} {% trans 'Página de Confirmação de adicionar docente'%} {% endblock %}

<!-- Estes blocos é para alterar a classe do menu do index, refere se está ou não activo -->
{% block MenuDocente %}active{% endblock %}
{% block MenuInformacao %} {% endblock %}


{% block breadcrumb %}
<ul class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span> <a tabindex="2" href="{% url homeRecursosHumanos %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a>
	</li>
	{% if estado = "add"%}	
		<li>
			<a tabindex="3" href="{% url adicionarDocenteRH %}" title="Adicionar Docente">{% trans 'Adicionar Docente' %}</a>
		</li>
		<li class="active">
			{% trans 'Docente inserido com Sucesso' %}
		</li>
	{% else %}
		<li>
			<a tabindex="3" href="{% url listDocenteEdit %}" title="Lista docente a editar">{% trans 'Listar Docentes a Editar' %}</a>
		</li>
		<li class="active">
			{% trans 'Docente editado com Sucesso' %}
		</li>
	{%endif%}
</ul>
{% endblock %}

{% block content %}

{% if estado = "add"%}
<div class="jumbotron">
	
  <h1>{% trans 'Sucesso!'%}</h1>
  <p>{% trans 'O docente'%} {{nome_completo}} {% trans ' foi adicionado com Sucesso'%}</p>
  <p></p>
  <p>- {% trans 'Clique em ir para ir para lista de docentes.'%}</p>
  <p><a class="btn btn-primary btn-lg" href="/distro/recursosHumanos/listDocente/" role="button">{% trans "Ir" %}</a></p>
  
</div>
{% else %}
<div class="jumbotron success_jumbotron">
	
  <h1>{% trans 'Sucesso!'%}</h1>
  <p>{% trans 'O docente'%} {{nome_completo}} {% trans 'foi editado com Sucesso'%}</p>
  <p></p>
  <p>- {% trans 'Clique em voltar para regressar a lista de docentes a editar.'%}</p>
  <p><a class="btn btn-primary btn-lg" href="/distro/recursosHumanos/listDocenteEdit/" role="button">{% trans "Voltar" %}</a></p>
  
</div>

{%endif%}
{% comment %}

<div class="alert alert-success">
	{% if estado = "add"%}
    	<span>{% trans 'O docente'%} {{nome_completo}} {% trans ' foi adicionado com Sucesso'%}</span>
    {% else %}
    	<span>{% trans 'O docente'%} {{nome_completo}} {% trans 'foi editado com Sucesso'%}</span>
    {%endif%}
</div>
{% endcomment %}
{% endblock %}

