{% extends "recursosHumanos/index.html" %}
{% load i18n %}
{% block title %} Página de Confirmação de adicionar docente {% endblock %}

{% block breadcrumb %}
<ul id="breadcrumb">
	<li>
		<a tabindex="2" href="{% url homeRecursosHumanos %}" title="{% trans 'Home' %}"> <img src="/static/images/BreadCrumbs/home.gif" alt="{% trans 'Home' %}" class="home" /> </a>
	</li>
	<li>
		<a tabindex="3" href="{% url adicionarDocenteRH %}" title="Adicionar Docente">Adicionar Docente</a>
	</li>
	<li>
		Docente inserido com Sucesso
	</li>
</ul>
{% endblock %}

{% block content %}
	<table id="tabela_sumario">
	    <tr>
	            <th colspan="2" id="top_sumario" class="cabecalho_sumario">Estado</th>
	    </tr>
    </table>
    <div id="sucesso">
    	<span>O docente foi adicionado com Sucesso</span>
    </div>
{% endblock %}

